---
---

@import "{{ site.theme }}";

img.clip-circle  {
  width: 120px;
  margin: 0px;
}

.clip-circle {
  clip-path: circle(60px at center);
}

.filter {
  filter: sepia(0.3);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin-bottom: 35px;
}
